.logo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.linksNavBar{
    margin-left: 80%;
    gap: 1em;
}

.Link{
    color: white;
}

.Navbar{
    background-color: #001f3f;
    padding: 15px;
    display: flex;
    align-items: center;
}

.titleNavBar{
    color: white;
    font-size: px;
}

.all-home{
    background-color: black;
}

.imgCarousel{
    height: 600px;
    width: 100%;
}

.cardAll{
    margin: 20px;
    width: 350px;
   
}

.cardBodyAll{
    background-color:grey;
    color: white; 
}

.cardContainerAll{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 60px;
    border: none;
}

.iconSite{
    width: 40px;
    height: 40px;
    padding: 5px;
}