.imgManCity{
    width: 300px;
    height: auto;
}

.cardContainer{
    display: flex;
    border: 2px solid grey;
    background-color: rgb(92, 95, 99);
    border-radius: 10px;
    padding-right: 90px;
    align-items: center;
}

.all-mancity{
    background-color: black;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.cardBodyPlayer{
    color: white;
}

.datePlayer{
    color: lightgray;
}