.times{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.time-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 130px;
}

.teamchoose-all{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    background-color: #404549;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    width: 200px;
}

.botao:hover {
    letter-spacing: 3px;
    background-color: hsl(120, 2%, 21%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(74, 77, 75) 0px 7px 29px 0px;
}

.botao:active {
    letter-spacing: 3px;
    background-color: hsl(120, 1%, 26%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(73, 77, 73) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.titulo{
    font-size: 25px;
    color: white;
}

.linkProfile{
    color: white;
}