.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
}

.redCard{
    width: 150px;
    height: 150px;
    margin-bottom: 1.5rem;
}

.error-title{
    font-size: 1.5rem;
    color: #ff0000;
    margin-bottom: 1rem;
}

.error-image{
    width: 150px;
    height: 150px;
    margin-bottom: 1.5rem;
}

.error-message , .error-subtitle{
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    max-width: 400px;
}

.botaoBack {
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.error-page {
    background-color: #121212;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
